<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie-info</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script src="../static/js/bootstrap.bundle.js" th:src="@{/js/bootstrap.bundle.js}"> </script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            th:src="@{https://code.jquery.com/jquery-3.5.1.js}"></script>

    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"
            th:src="@{https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js}"></script>

    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"
            th:src="@{https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js}"></script>

</head>
<body>

<h1>Movie info</h1>
<table id="example" class="table table-striped table-bordered" style="width:100%" >
    <tr >
        <th th:text="'Title'"></th>
        <th th:text="'Type'">...</th>
        <th th:text="'Year'">...</th>
        <th th:text="'Actors'">...</th>
        <th th:text="'Poster'">...</th>
        <th th:text="'Awards'">...</th>
        <th th:text="'BoxOffice'">...</th>
        <th th:text="'Country'">...</th>
        <th th:text="'Director'">...</th>
        <th th:text="'DVD'">...</th>
        <th th:text="'Genre'">...</th>
        <th th:text="'Plot'">...</th>
        <th th:text="'ImdbVotes'">...</th>
        <th th:text="'Language'">...</th>
        <th th:text="'Website'">...</th>
        <th th:text="'Ratings'">...</th>
    </tr>
    <tr>
        <td th:text="${movie.getTitle()}">...</td>
        <td th:text="${movie.getType()}">...</td>
        <td th:text="${movie.getYear()}">...</td>
        <td th:text="${movie.getActors()}">...</td>
        <td ><img th:src="@{${movie.getPoster()}}"/></td>
        <td th:text="${movie.getAwards()}">...</td>
        <td th:text="${movie.getBoxOffice()}">...</td>
        <td th:text="${movie.getCountry()}">...</td>
        <td th:text="${movie.getDirector()}">...</td>
        <td th:text="${movie.getDVD()}">...</td>
        <td th:text="${movie.getGenre()}">...</td>
        <td th:text="${movie.getPlot()}">...</td>
        <td th:text="${movie.getImdbVotes()}">...</td>
        <td th:text="${movie.getLanguage()}">...</td>
        <td th:text="${movie.getWebsite()}">...</td>
        <td th:text="${movie.getRatings()}">...</td>

    </tr>

</table>

<a href="#" th:href="@{/}">Powrót do wyszukiwania</a>

<script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>

</body>
</html>